# This repo builds a Rubygem. No lock file then.
Gemfile.lock

# This repo uses cline-rb that needs some node modules.
node_modules/
package.json
package-lock.json

# Yard is used to generate doc. Don't commit generated yard files.
.yardoc/
doc/

# SimpleCov is used to generate code coverage reports. Don't commit generated coverage files.
coverage/

# Running examples creates composable agents directory.
.composable_agents/

# Running tests creates composable agents test directory.
.composable_agents_test/
